<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Account Category</h2>
      <br>
      <br> Transaction Id: <%=  transaction.transactionId%>
      <br> Transaction Date: <%=transaction.transactiondate%>
      <br> Transaction Amount: <%=transaction.transactionamount%>
      <hr>

      <form method="get" action="/user">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>